:root {
    --test-border: 5px solid black;
    --sidebar-hover-color: blue;
    --icon-hover-color: rgb(197, 197, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-grid-container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar-container {
    background-color: steelblue;
    grid-row: 1 / -1;
    z-index: 3;
    color: white;
    font-size: 2rem;
    padding: 20px;
}

.sidebar-wrapper {
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    align-items: center;
    gap: 50px;
}

.sidebar-row {
    display: grid;
    row-gap: 10px;
}

.sidebar-logo-row {
    font-size: 1.2em;
    gap: 20px;

    & img {
        scale: 1.5;
    }
}

.sidebar-logo-row,
.sidebar-content-row {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
}

.sidebar-content-row {
    padding: 5px;
    gap: 15px;
    transition: all linear 50ms;
    cursor: pointer;
    border-radius: 50px;
}

.sidebar-content-row:hover {
    box-shadow: 1px 1px 10px darkblue;
    background-color: cornflowerblue;
    scale: 1.03;
    transition: all linear 50ms;
}

.sidebar-icon {
    padding: 3px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.header-container {
    background-color: white;
    box-shadow: 2px 2px 10px 5px grey;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1.4fr 1fr;
    padding: 5px;
    font-weight: 700;
    font-size: 1.2rem;
}

.header-cell {
    display: grid;
}

.header-left.header-top {
    grid-template-columns: 1fr 9fr;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & img {
        padding: 5px;
        width: 40px;
        justify-self: self-end;
        cursor: pointer;
        border-radius: 50%;
        transition: all linear 0.1s;
    }

    & img:hover {
        background-color: var(--icon-hover-color);
        scale: 1.05;
        transition: all linear 0.1s;
    }

    & input {
        appearance: none;
        outline: none;
        border-radius: 15px;
        padding: 5px;
        height: 40px;
        font-size: 1.1em;
        border: 1px solid gray;
        background-color: whitesmoke;
    }

    & input:focus {
        border: 1px solid black;
        box-shadow: 3px 3px 10px steelblue;
    }
}

.header-right.header-top {
    grid-template-columns: 1.2fr 1fr 1.3fr;
    gap: 20px;
}

.top-right-cell {
    align-self: center;
    padding: 10px;
}

.notifications {
    justify-self: end;
    width: 60px;
    cursor: pointer;

    & img {
        border-radius: 50%;
        padding: 5px;
        transition: all linear 0.1s;
    }
}

.notifications img:hover {
    background-color: var(--icon-hover-color);
    scale: 1.05;
    transition: all linear 0.1s;
}

.profile-picture {
    justify-self: center;

    & img {
        width: 50px;
    }
}

.profile-name {
    font-size: 1.1em;
}

.header-left.header-bottom {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.profile-picture-lg {
    grid-row: 1 / -1;
    justify-self: center;

    & img {
        width: 80px;
    }
}

.profile-name-lg {
    align-self: self-start;
    font-size: 1.3em;
}

.header-right.header-bottom {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.header-button {
    font: inherit;
    border: transparent;
    background-color: steelblue;
    align-self: center;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    transition: all 0.2s;
    padding: 10px;
}

.header-button:hover {
    border: 2px solid black;
    transition: all 0.1s;
}

.header-button:active {
    scale: 0.98;
    transition: all 0.2s;
}

.content-container {
    background-color: whitesmoke;
    display: grid;
    padding: 30px 15px;
    grid-template-columns: 3fr 1fr;
}

.left-content {
    display: grid;
}

.right-content-container {
    display: grid;
    grid-template-rows: 30px 1fr 30px 1fr;
    gap: 10px;
    padding-inline: 0 30px;

    & h2 {
        margin-left: 5px;
    }
}

.right-content {
    background-color: white;
    display: grid;
    border-radius: 50px;
    box-shadow: 2px 2px 10px gray;
}

.announcements-container {
    margin-bottom: 10px;
    padding: 25px;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.announcement {
    padding: 5px;
}

.announcement > p {
    margin-top: 3px;
    color: grey;
}

.trending-container {
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 10px;

    & img {
        width: 60px;
        grid-row: 1 / -1;
        align-self: center;
        border-radius: 50%;
    }

    & span {
        font-weight: 600;
        align-self: self-end;
    }

    & p {
        color: grey;
        align-self: self-start;
    }
}

.announcement,
.trending {
    border-radius: 20px;
    cursor: pointer;
    transition: all linear 50ms;
}

.trending:hover,
.announcement:hover {
    scale: 1.02;
    background-color: whitesmoke;
}